/*
  font-family: lust, serif;
  font-family: lust-display, serif;
  font-family: lust-fine, serif;
  font-family: 'Maven Pro', sans-serif;
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url("../img/green1.webp");
  height: 370px;
  background-size: cover;
}

header h1 {
  font-family: lust, serif;
  font-size: 90px;
  color: white;
  margin: 0;
  padding-top: 130px;
  padding-right: 90px;
  padding-left: 90px; 
}

header p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  text-align: center;
}

main {
  background-color: #e6eec8;
  padding-bottom: 55px;
}

main p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 11px;
  color: #31351e;
  margin: 0;
  padding: 50px 60px;
  text-align: center;
}

main h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  color: #31351e;
  padding-left: 75px;
}

.container_specimen {
  background-image: url(../img/aloe.webp);
  background-size: cover;
  width: 225px;
  height: 250px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 55px;
}

.word_absynthe {
  font-family: lust, serif;
  font-size: 23px;
  color: white;
  margin-left: 30px;
  padding-top: 30px;
}

.word_sauge {
  font-family: lust-display, serif;
  font-size: 23px;
  color: white;
  margin-left: 30px;
}

.word_aloe {
  font-family: lust-fine, serif;
  font-size: 23px;
  color: white;
  margin-left: 30px;
}

.word_eucalyptus {
  font-family: lust, serif;
  font-style: italic;
  font-size: 23px;
  color: white;
  margin-left: 30px;
}

.word_olive {
  font-family: lust-display, serif;
  font-style: italic;
  font-size: 23px;
  color: white;
  margin-left: 30px;
}

.word_jade {
  font-family: lust-display, serif;
  font-style: italic;
  font-size: 23px;
  color: white;
  margin-left: 30px;
  padding-bottom: 30px;
}

.container_character {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.container_character img {
  height: 120px;
}

.container_character h3 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #31351e;
  text-align: center;
}

.container_character_map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.container_character_map img {
  height: 120px;
  margin-bottom: 55px;
}

.container_character_map h3 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #31351e;
  text-align: center;
}

.title {
  font-family: lust, serif;
  font-size: 25px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.container_text {
  margin-left: 70px;
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
}

textarea {
  border-radius: 50px;
  border: none;
  margin-top: 5px;
}

.font-test {
  padding: 0;
  text-align: left;
  font-family: 'Maven Pro', sans-serif;
  margin-top: 10px;
}

footer {
  background-image: url("../img/footer_img.webp");
  background-size: cover;
  height: 285px;
}

footer h2 {
  font-family: lust, serif;
  font-size: 50px;
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 39px;
}

.subtitle_footer {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

.container_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 108px;
  margin-right: 108px;
}

.first_name {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 12px;
}

.last_name {
  font-family: lust, serif;
  font-size: 25px;
  color: white;
  margin-top: 5px;
}

footer a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  margin: 0;
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  font-family: lust, serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

.text-regular {
  font-family: lust, serif;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}

.text_display {
  font-family: lust-display, serif;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}

.text_fine {
  font-family: lust-fine, serif;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}

.text_italic {
  font-family: lust, serif;
  font-style: italic;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}

.text_display_italic {
  font-family: lust-display, serif;
  font-style: italic;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}

.text_fine_italic {
  font-family: lust-fine, serif;
  font-style: italic;
  width: 240px;
  height: 20px;
  font-size: 18px;
  color: #31351e;
}